<header>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">Portfolio.</a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse1"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
          <div class="navbar-nav me-auto"> <!-- Change from "ms-auto" to "me-auto" -->
            <a href="#home" class="nav-item nav-link">Home</a>
            <a href="#about" class="nav-item nav-link">About</a>
            <a href="#" class="nav-item nav-link">Products</a>
          </div>
          <form class="d-flex">
            <button type="submit" class="btn btn-outline-light">Hire me</button>
          </form>
        </div>
      </div>
    </nav>
</header>
