<section id="about">
  <div class="container">
      <h2><strong>About</strong></h2>
      <span class="bar-title mb-5"></span>
      <div class="row">
          <div class="col-lg-4 col-md-12" data-aos="fade-right">
              <picture>
                  <img src="assets/images/profile.jpg" alt="Profile Photo" class="img-fluid">
              </picture>
              <div class="d-flex justify-content-center">
                  <a class="btn-social-media" href="https://www.linkedin.com/in/aman-gupta-2b2924172/" rel="tooltip"
                      target="_blank" title="Follow me on Linkedin">
                      <i class="fa fa-linkedin fa-lg "></i>
                  </a>
                  <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                      href="https://github.com/Aman333ag" rel="tooltip" target="_blank"
                      title="Follow me on GitHub">
                      <i class="fa fa-github fa-lg "></i></a>
              </div>
          </div>
          <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
              <h3>Web / Full-Stack Developer</h3>
              <br>
              <!-- <p class="font-italic">
                Interested in new technologies and working methods. I like to come up with ideas that to permit to improve business processes.
                  <br>{{'Passionate about development ' }} <b>Back-End</b> and <b>Front-End</b>.
              </p> -->
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <ul>
                          <li>
                              <fa-icon [icon]="mapMarker"></fa-icon><strong> Remote Throughout India</strong>
                          </li>
                          <li>
                              <fa-icon [icon]="building"></fa-icon><strong> Delhi, India</strong>
                          </li>
                          <li>
                              <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:guptaaman333.ag@gmail.com">
                                      Guptaaman333.ag@gmail.com</a></strong>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <ul>
                          <li>
                              <fa-icon [icon]="birthday"></fa-icon><strong> 25 years</strong>
                          </li>
                          <li>
                              <fa-icon [icon]="badge"></fa-icon><strong> Dehi University</strong>
                          </li>

                      </ul>
                  </div>
              </div>
              <p class="font-italic">
                I am looking for an innovative and user-centric company to best meet the needs of the customer, from their initial spark of an idea to the grand finale of project delivery. I'm not just seeking a job; I'm on a quest to join forces with a company that shares my passion for turning dreams into digital realities. Think of me as a treasure hunter in the realm of technology, always on the lookout for hidden gems that can elevate ordinary business processes into a symphony of shining brilliance. Together, let's embark on an exciting adventure of ideation, where every idea we uncover is a step towards building a digital landscape that dazzles and delights.
              </p>
          </div>
      </div>
  </div>
</section>
